.App {
  text-align: left;
  background-color: #dff5df;
  padding-top: 150px;
  padding-bottom: 150px;
}
.f-35 {
  font-size: 33px !important;
}
.b-radius-10 {
  border-radius: 10px;
}
.text-green{
  color: green;
}
.has-search .form-control {
  padding-left: 3rem;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  background-color: lightgray;
  border: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
.has-search .form-control:focus {
  border: 2px solid green;
}

.has-search .form-control-search-icon {
  position: absolute;
  z-index: 2;
  display: block;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
  top: 15px;
  left: 15px;
}
.has-search .form-control:focus+.form-control-search-icon{
  fill: green;
}
.human-card {
  border: 2px solid white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.human-card:hover {
  cursor: pointer;
  border: 2px solid green;
}
.human-card:focus {
  border: 2px solid green;
}